:root {
  --primary-text-color: #ffffff;
  --basic-text-color: #212121;
  --accent-text-color: #2196f3;
  --secondary-text-color: #757575;
  --text-color: #000000;
  --basic-bcg-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --bcg-color-light: #f5f5f5;
  --bcg-color: #2f303a;
  --button-accent-color: #2196f3;
  --button-primary-color: #f5f4fa;
  --button-text-color: #ffffff;
  --button-filter-color: #212121;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* header */

.container {
  width: 100%;
  max-width: 1230px;
  margin: auto;
  padding: 0 15px;
}

.logo {
  color: var(--accent-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}
.logo-dark {
  color: var(--text-color);
  font-family: Raleway, sans-serif;
}

.list .link {
  text-decoration: none;
  color: var(--basic-text-color);
}

.list {
  list-style: none;
}

.list .link.current {
  color: var(--accent-text-color);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--accent-text-color);
}

.mail {
  color: var(--secondary-text-color);
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail:hover,
.mail:focus {
  color: var(--accent-text-color);
}

.tel {
  color: var(--secondary-text-color);
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.tel:hover,
.tel:focus {
  color: var(--accent-text-color);
}

/* main */
.header {
  background-color: var(--bcg-color);
  padding: 0 44px;
  text-align: center;
  border-bottom: 1px #000000;
}

.header.title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.header.button {
  display: inline-block;
  background-color: var(--button-accent-color);
  color: var(--button-text-color);
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.8;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 152px;
  border: 0;
}

.header.button:active {
  background-color: #188ce8;
}

.feature {
  background-color: var(--bcg-color-light);
  list-style: none;
  margin-top: 0;
  margin-bottom: 44px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 10px;
}
.feature.text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 2;
  padding-top: 0;
  padding-bottom: 0;
}

.gallery {
  background-color: var(--bcg-color-light);
  list-style: none;
  margin-bottom: 44px;
  margin-top: 0;
}
.gallery.title {
  color: var(--basic-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  text-transform: none;
  margin-bottom: 50px;
}

.team {
  background-color: var(--secondary-bcg-color);
  margin-bottom: 44px;
}

.team.card {
  background-color: var(--basic-bcg-color);
}

.team.title {
  color: var(--basic-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  text-transform: none;
  margin-bottom: 50px;
  padding-top: 94px;
}

.team.list {
  list-style: none;
  padding-bottom: 94px;
  margin-bottom: 0;
}

.team.worker {
  background-color: var(--basic-bcg-color);
  color: var(--basic-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.team.job {
  background-color: var(--basic-bcg-color);
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* footer */

.footer {
  background: #2f303a;
}

.logo-light {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
}

.footer address {
  padding-bottom: 60px;
}
.footer.list {
  list-style: none;
  padding-top: 10px;
}

.footer.map {
  color: var(--primary-text-color);
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  padding-bottom: 9px;
}

.footer.mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  padding-bottom: 9px;
}

.footer.mail:hover,
.footer.mail:focus {
  color: var(--accent-text-color);
}

.footer.tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  padding-bottom: 0;
}

.footer.tel:hover,
.footer.tel:focus {
  color: var(--accent-text-color);
}

/* portfolio */

.main.page {
  margin-top: 94px;
}

.button.list {
  text-align: center;
}

.filter.button {
  background-color: var(--button-primary-color);
  color: var(--button-filter-color);
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  min-width: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter.button:hover,
.filter.button:focus,
.filter.button:active {
  background-color: var(--button-accent-color);
  color: var(--button-text-color);
}

.portfolio.list {
  list-style: none;
  padding-top: 34px;
  margin-bottom: 94px;
}

.list.link {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio.container {
  background-color: var(--basic-bcg-color);
  margin-top: 50px;
}
.portfolio.foto {
}

.portfolio.title {
  color: var(--basic-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.portfolio.product {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 2;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-top: 4px;
}
